<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


   <servlet>
  		<servlet-name>login</servlet-name>
  		<servlet-class>com.car.Login</servlet-class>
  </servlet>
  
  <servlet-mapping>
   		<servlet-name>login</servlet-name>
  		<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
   <servlet>
  		<servlet-name>generatereport</servlet-name>
  		<servlet-class>com.car.Generatereport</servlet-class>
  </servlet>
  
  <servlet-mapping>
   		<servlet-name>generatereport</servlet-name>
  		<url-pattern>/Generatereport</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>table</servlet-name>
  		<servlet-class>com.car.Table</servlet-class>
  </servlet>
  
  <servlet-mapping>
   		<servlet-name>Table</servlet-name>
  		<url-pattern>/Table</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>deleterecord</servlet-name>
  		<servlet-class>com.car.Deleterecord</servlet-class>
  </servlet>
  
  <servlet-mapping>
   		<servlet-name>login</servlet-name>
  		<url-pattern>/Deleterecord</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>contact</servlet-name>
  		<servlet-class>com.car.Contact</servlet-class>
  </servlet>
  
  <servlet-mapping>
   		<servlet-name>contact</servlet-name>
  		<url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>admindash</servlet-name>
  		<jsp-file>/Admindash.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
   		<servlet-name>admindash</servlet-name>
  		<url-pattern>/Admindash</url-pattern>
  </servlet-mapping>
  
  
</web-app>  